* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

section {
    padding: 1.5em 4em;
    color: #0000D2;
    text-align: center;

}

h1 {
    font-size: 5em !important;
    line-height: 3.5rem !important;
    font-weight: 700 !important;
    padding-top: 1em !important;
}

h2 {
    font-size: 2.25em !important;
    font-weight: 600 !important;
    margin-bottom: 0rem !important;
}

h3 {
    font-size: 1em !important;
    font-weight: 600 !important;
    margin-bottom: 0rem !important;
}

p {
    font-size: 1.2em !important;
    font-weight: 500 !important;
    margin-bottom: 0.5rem !important;
}

i {
    color: #DBE4F5;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none !important;
}

.fa-solid {
    font-size: 2em;
}

/* hover */
span:hover, #menuToggle:hover, #best .button a:hover, .subscribe_email input:last-child:hover, .top:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}

/* hover > subrayado */
.subrayado2 {
    position: relative;
}

.subrayado2::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.subrayado2:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.subrayado2::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #3838f9;
    z-index: -1;
    transition: transform .3s ease;
}

.subrayado3 {
    position: relative;
}

.subrayado3::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.subrayado3:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.subrayado3::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #ffffff;
    z-index: -1;
    transition: transform .3s ease;
}

/* HOME PAGE */
header {
    height: 100vh;
}

headerproduct {
    height: 13vh !important;
}

headerdetail {
    height: 13vh !important;
}

#back_img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    font-weight: bolder;
}

/* HOME PAGE > menu */
#menu {
    width: 100%;
    height: 13vh;
    padding: 0.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #DBE4F5;
    position: relative;
    z-index: 5;
}

#menu img, #menu > a {
    height: 100%;
}

#menu > div {
    display: flex;
    width: 20%;
    height: 60%;
    justify-content: flex-end;
}

#menuToggle {
    background-color: #0000D2;
    border-radius: 50px;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu_b {
    width: 60%;
}

#menu ul {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 33%;
    background-color: #0000D2;
    color: #DBE4F5;
    height: 100vh;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    padding: 2em;
}

#menu.active ul {
    right: 0;
}

#menu ul li {
    list-style: none;
    padding: 1em;
}

#menu ul li:first-child {
    width: 100%;    
}

#menu ul li:first-child i {
    display: flex;
    justify-content: flex-end;
    font-size: 2em;
}

#menu ul li:first-child i:hover {
    cursor: pointer;
}

#menu ul li a {
    color: #DBE4F5;
}

/* HOME PAGE > logo grande*/
#logo {
    height: 102%;
    display: flex;
    align-items: flex-end;
    padding: 3em 0 0 0;
}

#logo img {
    width: 100%;
    z-index: 1;
}

/* DESCRIPTION */
#description {
    background-color: white;
    height: 100%;
}

#description img {
    width: 100%;
}

#description h1 {
    padding-top: 0 !important;
}

#des {
    padding: 0 8em;
    z-index: 1 !important;
}

#title {
    padding: 3em 0 3em;
}

.estrella {
    position: relative;
    display: inline-block;
}

.caract img {
    width: 100%;
    z-index: 2;
}

.estrella > img {
    transform: rotate(calc(var(--scroll) * 360deg));
    transition: transform 0.1s linear;
}

.caract i {
    height: 100%;
    width: 100%;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
}

.caract {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.caract p {
    padding-top: 1em;
}

#caract_all {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* DESCRIPTION > how */
.button {
    display: flex;
    justify-content: center;
    padding: 4em 0 2em;
    font-weight: 400;
}

.button span, .button a {
    height: 3.5em;
    display: flex;
    align-items: center;
    background-color: #DBE4F5;
    padding: 2em;
    border-radius: 50px;
}

#button div {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 58%;
    background-color: #DBE4F5;
    color: #0000D2;
    height: 100vh;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 1.5em 3em;
    z-index: 5 !important;
    align-items: center;
}

#button div h2 {
    width: 68%;
}

#button i, .ruleta i {
    width: 100%;
    font-size: 1.5em;
    display: flex !important;
    justify-content: flex-end !important;
}

#button img {
    width: 60%;
    height: auto;
    object-fit: contain;
    padding: 1em 0;
}

#button p {
    background-color: #ffffff;
    padding: 0.2em;
}

#button.active div {
    right: 0;
}

/* BESTSELLERS */
#best {
    width: 100%;
}

#best h1 {
    padding-bottom: 0.5em;
    color: #0000D2;
}

#best img {
    filter: grayscale(100);
    aspect-ratio: 1/1;
    object-fit: cover;
}

.best_s {
    width: 30%; 
    flex-direction: row;  
}

.best_s img {
    aspect-ratio: 1/1;
}

#best_s {
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat (3, 1fr);
    gap: 20px;
    justify-items: center;    
}

.hidden {
    visibility: hidden;
    position: absolute;
    padding-top: 0 !important;
}

.mark {
    position: absolute;
    display: flex;
    padding: 0.5em;
    flex-direction: column;
    background: none !important;
}

.mark > .circle2:first-child {
    margin-bottom: 0.5em;
}

.circle2 {
    height: 55px;;
    width: 55px;
    background:#0000D2;
    border-radius: 30px;
}

.circle2 i {
    height: 100%;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle2:hover {
    cursor: pointer;
}

.circle2 i:hover {
    color: #3838f9;
}

.best_img {
    position: relative;
}

.best_img img {
    width: 100%;
    position: relative;
    z-index: -1;
    padding-bottom: 0.5em;
}

.best_info {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5em 1em;
}

/* BESTSELLERS > cambio imagenes hover */
.main-img {
    display: block;
}

.hover-img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.best_img:hover .main-img {
    display: none;
}

.best_img:hover .hover-img {
    display: block;
}

/* BESTSELLERS > wish+buy */
.mark2 {
    height: 100vh;
    width: 33%;
    background-color: #DBE4F5;
    color: #0000D2;
    display: flex;
    z-index: 5;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.5s;   
    padding: 2em; 
    text-align: start;
    flex-direction: column;
}

.mark2 h2 {
    width: 50%;
}

.mark2 img {
    filter: grayscale(100);
}

.mark2 > div {
    height: 100%;
}

.mark2  a  i {
    display: flex;
    justify-content: flex-end;
}

#wishlist > div, #buy > div {
    width: 100% !important;
}

.infobuy {
    width: 60%;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infobuy > a > i {
    display: flex;
    justify-content: center !important;
}

.infobuy input {
    width: 33%;
    padding: 0.75em;
    border-radius: 50px;
    border: none;
}

.infobuytxt {
    display: flex;
    justify-content: space-between;
}

.tattoo {
    height: 33%;
    display: flex;
}

.tattoo > img {
    width: 40%;
}

#recomendation {
    height: 45%;
    padding-top: 1.5em;
}

#recomendation > #best_s {
    padding: 0;
}

#recomendation > #best_s > .best_s {
    width: 50% !important;
}

#buynow {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#buynow input {
    border: none;
    border-radius: 50px;
    background-color: #0000D2;
    padding: 1em;
    color: #DBE4F5;
}

#wishlist:target, #buy:target, #filters:target, #ruleta1:target, #ruleta2:target {
    opacity: 1;
    visibility: visible;
}

/* BESTSELLERS > ruleta */
#ruleta1 > div > h2 {
    padding-bottom: 1.25em;
}

#ruleta1 > div > div > a {
    width: 40em;
}

.ruleta {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.5s;
}

.ruleta > div {
    background-color: #DBE4F5 !important;
    color: #0000D2;
    width: 75%;
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    padding: 2em;
}

.ruleta i {
    width: 90% !important;
}

.ruleta a {
    background-color: #0000D2 !important;
    color: #0000D2 !important;
    display: flex;
    justify-content: center;
}

.button a {
    color: #0000D2;
}

.ruleta a {
    background: none !important;
    width: 100%;
    display: flex;
}

.ruleta img{
    filter: grayscale(0) !important;
    padding: 0 !important;
    margin: 0 !important;
}

.ruleta div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ruleta img  {
    max-width: 70%;
    padding-top: 0%;
    height: 50%;
    display: block;
    margin: 0 auto; 
    padding: 1em 0;
}

#ruleta2 > div >.button > a {
    background-color: #0000D2 !important;
}

/* ABOUT US */
#about {
    background-color: #0000D2;
    color: #DBE4F5;
    z-index: 2;
    padding-top: 5rem;
    position: relative;
    height: 100vh  !important;
}

.image-container {
    width: 100% !important;
    height: 100vh  !important;
    bottom: 0  !important;
    right: 0 !important;
    position: absolute !important;
    background-image: url("../media/img/about_us.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    z-index: -1;
    display: flex;
    opacity: 1;
    visibility: visible;
}

#about h1,
#about > div {
    display: flex;
    position: relative;
    font-size: large;
    z-index: 2; 
    padding-bottom: 1em;
}

#about > div {
    text-align: left;
    width: 50%;
    padding-right: 4rem;
}

/* FAQ */
#FAQ{
    height: 100vh;
}

#accordionFlushExample {
    padding-top: 2em !important;
}

.accordion-body {
    font-size: 1.2em !important;
    font-weight: 500 !important;
    color: #0000D2 !important;
    text-align: left;
}

.accordion-button {
    font-size: 0.7em !important;
    font-weight: 600 !important;
    color: #0000D2 !important;
}

/*CLIENTES */
/*CLIENTES > grid*/
.container {
    width: 80%;
}

.container .row {
    width: 100%;
}

.row div {
    padding: 15px;
}

.container .row img {
    width: 100%;
    height: 250px;
    aspect-ratio: cover;
    object-fit: cover;
    filter: grayscale(100);
}

/*CLIENTES > typed number*/
#number {
    height: 50vh !important;
    display: flex;
    align-items: center;
    flex-direction: column;    
    justify-content: center;
}

.typed-cursor {
    opacity: 0 !important;
}

/*CLIENTES > comments*/
#comments {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*CLIENTES > comments > carrusel*/
#carouselExample {
    width: 80%;
    display: flex !important;
    justify-content: center !important;
}

#carouselExample .card {
    width: 100% !important;
    max-width: 100% !important;
    background-color: #DBE4F5;
    color: #0000d2;
    text-align: start;
    border-radius: 50px;
    height: 70vh;
    border: none;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item {
    padding: 1em;
}

.carousel-inner {
    display: flex;
}

.carousel-item .row div:first-child, .carousel-item .row div:last-child {
    width: 50% !important;
}

.carousel-item .row div img {
    border-radius: 50px !important;
    height: 100%;
    max-height: 58vh;
    object-fit: cover;
    width: 100%;
}

.carousel-item .row div:last-child div {
    height: 100%;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.carousel-item .row div:last-child div div {
    padding: 0 0 0.5em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.carousel-item i {
    color: #0000D2;
    font-weight:42em !important;
}

.carousel-item .row div div p {
    font-size: 2em;
}

.carousel-item button {
    color: #0000D2;
}

/*SUBSRCIBE*/
.subscribe {
    margin:auto; 
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    height: 30vh;
    display: flex;
    align-content: center;
    align-items: center;
}

#subscribe_quest {
    width: 30%;
    font-size: 2.5rem; 
    color: #0000D2; 
    text-align: left;
    justify-content: flex-end;
}

#subscribe_quest h3 {
    line-height: 0.9em;
}

.subscribe_email {
    width: 70%;
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    justify-content: flex-end;
}

.subscribe_email input[type="email"] {
    width: 65%;
    padding-left: 0.5rem;
    height: 2rem;
    border: none;
    border-bottom: 3px solid #0000D2; 
    outline: none;
    font-size: 1rem;
}

.subscribe_email input[type="email"]:focus {
    border-bottom: 3px solid #0000D2; 
}

.subscribe_email input[type="submit"] {
    width: 25%;
    color: #DBE4F5;
    background-color: #0000D2;
    border-radius: 10rem;
    height: 2rem;
    border: none;
    margin-left: 0.5rem;
    font-size: 1.2rem; 
    font-weight: bold;
}

/* RRSS */
#rrss {
    width: 100%;
    display: flex;
    justify-content: center;
}

#rrss div {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 2em;
}

#rrss i {
    color: #0000D2;
}

#rrss i:hover, #buynow input:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}

/* FOOTER */
footer {
    height: auto;
    width: 100%;
    padding: 0%;
    padding-top: 0%;
    flex-direction: column;
    background-color: #0000D2;
    color: #DBE4F5;
    font-family: 'Wix Madefor Display', sans-serif;
}

#footer_down {
    padding: 0;
    width: 100%;
}

#footer_down a {
    color: #DBE4F5;
}

#footer_down > .menu_footer > ul {
    display: flex;
    justify-content: center;
    color: white;
    padding-left: 0 !important;
}

#footer_down > .menu_footer > ul > li {
    padding: 2rem;
}

#footer_down > .menu_footer > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#footer_down > #logo > .best_img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    z-index: 0;
}

/* P PROD > filters */
.bestprod {
    display: flex;
    justify-content: flex-end !important;
    padding: 1em 0;
}

.bestprod a i {
    color: #0000D2 !important;
}

#best_s .best_s {
    display: block;
}

#filtersb {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

.filtersb {
    padding: 1em;
    height: 2em;
    background-color: #0000D2;
    border-radius: 50px;
    color: #DBE4F5;
    border: none;
    display: flex;
    align-items: center;
}

.filtersb:last-child {
    border: solid #0000D2 2px !important;
    background-color: #DBE4F5 !important;
    color: #0000D2 !important;
}

/*PCART*/
#addcart {
    text-align: start;
}

.addcart-content {
    display: flex;
    gap: 20px; 
    align-items: center;
}

.main-img, .main-img2 {
    width: 40%; 
    max-width: 100%;
    filter: grayscale(100);
    aspect-ratio: 1/1;
    object-fit: cover;
}

#desCart >div {
    display: flex;
    align-items: center;
}
   
#desCart div i {
    padding: 0.5em;
}

.markcart {
    display: flex;
    flex-direction: row;
}

.markcart .circle2{
    margin: 0.25em;
    display: flex;
    justify-content: center;
    font-size: small;  
}

#addcart .best_img {
    width: 50%;
    display: flex;
    justify-content: center;
}

#addcart .best_img img {
    width: 100%;
    object-fit: cover;
    height: 80%; 
    aspect-ratio:1/1;
    filter: grayscale(100);
}

/* TOP */
.top {
    width: 2em !important; 
    position: fixed !important; 
    bottom: 1em !important; 
    right: 1em !important; 
    font-size: 1em !important;
    cursor: pointer !important; 
    z-index: 6;
}

.top i {
    color: #3838f9 !important; 
}

@media screen and (max-width: 1000px) {
    h1{
        font-size: 4em !important;
        
    }

    h2 {
        font-size: 1.5em !important;
    }
    
    p {
        font-size: 1em !important;
    }

    .fa-solid {
        font-size: 1.8em; 
    }

    /* HOME PAGE */
    header {
        height: 60vh; 
    }
    
    /* HOME PAGE > menu*/
    #menu {
        height: 10vh;        
        padding: 0.5em;
    }

    #menu img, #menu > a {
        height: 80%; 
    }

    #menu > div { 
        width: 15%;
        height: 70%;
    }

    #menuToggle {
        padding: 0.2em 0.5em;
    }

    #menu_b {
        width: 80%;
    }

    #menu ul {
        width: 50%;
        padding: 1.5em;
        font-size: 0.9em; 
    }

    #menu ul li {
        padding: 0.5em; 
    }

    #menu ul li:first-child {
        padding-bottom: 2em;
    }

    #menu ul li:first-child i {
        font-size: 1.5em; 
    }

    #menu ul li a {
        font-size: 0.9em; 
    }

    /* HOME PAGE > logo grande*/
    #logo {
        padding: 1.5em 0 0 0; 
    }

    /* DESCRIPTION */
    #description {
        padding-top: 2.5em;
    }

    #title {
        padding-bottom: 2em;
    }

    #des p {
        padding-bottom: 2em;
    }
    
    #description h1 {
        line-height: 0.75em !important;
    }

    #des {
        padding: 0;
    }

    .caract {
        flex-direction: row;
        width: 80%;
        text-align: start;
        padding-bottom: 1em !important;
        padding: 0 0.5em !important;
    }

    .caract .fa-solid {
        font-size: 3em;
    }

    #caract_all {
        flex-direction: column;
        align-items: center;
    }

    .estrella {
        width: 20%;
    }

    .caract p {
        width: 80%;
        padding-left: 2em;  
    }

    .estrella .fa-solid {
        font-size: 2em;
    }

    /* DESCRIPTION > how */
    #button div h2 {
        width: 100%;
    }

    #button img {
        width: 95%;
    }

    /* BESTSELLERS */
    #best {
        padding: 1em; 
    }

    #best h1 {
        font-size: 1.5em; 
        padding-bottom: 0.3em;
        text-align: center; 
    }

    .mark {
        padding: 0.3em;
        flex-direction: row; 
        top: 0.3em; 
        left: 0.3em;
    }

    .circle2 {
        height: 45px; 
        width: 45px;
        border-radius: 25px;
        margin-right: 0.5em;
    }

    .circle2 i {
        font-size: 1.5em; 
    }

    .best_img img {
        padding-bottom: 0.3em;
    }

    /* BESTSELLERS > wish+buy */
    .mark2 {
        width: 100%;
    }

    .infobuytxt {
        flex-direction: column;
    }

    #recomendation #best_s {
        width: 50%;
    }

    #buynow {
        height: 11%;
    }

    /* BESTSELLERS > ruleta */
    #ruleta1 > div > div > a {
        height: 340px;
        width: 30em;
    }   
    
    .ruleta > div {
        height: 65%;
    }

    /* ABOUT */
    #about {
        padding: 5rem;
        height: 100% !important;
    }

    .image-container {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    #about h1 {
        justify-content: center;
    }

    #about p {
        text-align: center;
    }

    #about > div {
        width: 100%;
        padding-right: 0rem;
    }

    /* CLIENTS */
    #comments .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #comments .carousel-item .row div {
        width: 80% !important;
    }

    #carouselExample .card {
        height: 100%;
    }

    #comments .row div:last-child div {
        width: 100% !important;
        text-align: center;
    }

    #comments .row div:last-child div div {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    /* SUBSRCIBE */
    .subscribe {
        flex-direction: column;
        align-items: baseline;
        height: 20vh;
    }

    #subscribe_quest {
        width: 100%;
        text-align: center;
        padding-bottom: 1em;
    }

    .subscribe_email {
        width: 100%;
    }

    /* FOOTER */
    footer { 
        text-align: center;
        font-size: 1em; 
    }

    #footer_down > .menu_footer {
        padding-top: 2rem;
    }

    #footer_down > .menu_footer > ul {
        display: contents;
    }

    #footer_down > .menu_footer > ul > li {
        padding: 0;
    }

    /* P PROD > filters */
    .bestprod {
        padding-right: 20px;
    }

    #filters {
        height: 40%;
    }
}


@media screen and (max-width: 650px) {

    section {
        
        text-align: center;
        font-size: xx-small;
    }

    /* HOME PAGE */
    header {
        height: 40vh;
    }

    /* HOME PAGE > logo grande*/
    #logo {
        height: 85%;
        padding: 1.5em 0 0 0; 
    }

    /* DESCRIPTION */
    /* DESCRIPTION > how */
    #button div {
        width: 100%;
        height: auto;
    }

    #button img {
        width: 100%;
    }

    #button i {
        padding-top: 2rem;
    }

    /* BESTSELLERS */
    #best {
        width: 100%;
        padding: 1em; 
    }

    #best h1 {
        font-size: 1.5em; 
        padding-bottom: 0.3em;
        text-align: center; 
    }

    .best_s {
        width: 80%;
    }

    #best_s { 
        gap: 1em;
        flex-direction: column;
        align-items: center;
    }

    .best_img img {
        padding-bottom: 0.3em;
    }

    .best_info {
        font-size: small;
    }

    .best_info p {
        font-size: 1em; 
    }

    /* BESTSELLERS > wish+buy */
    .tattoo > img {
        width: 60%;
    }

    #recomendation > #best_s {
        width: 100%;
        flex-direction: row;
    }
    
    /* BESTSELLERS > ruleta */
    #ruleta1 > div > div > a {
        height: 230px;
        width: 10em;
    }

    .ruleta {
        height: 70vh;
    }

    .ruleta > div {
        height: 70%;
    }

    .ruleta img {
        max-width: 300%;
        padding-top: 0;
    }

    /* ABOUT US */
    #about {
        padding-top: 2rem;    
    }
    
    #about h1,
    #about > div {
        display: contents;
    }
    
    #about > div {
        display: contents;
        text-align: center;
        font-size: small;
    }

    /* SUBSCRIBE */
    #subscribe_quest {
        font-size: 1.5rem;
        padding-bottom: 1rem; 
    }
    
    /* P PROD */
    .bestprod {
        padding-right: 2rem;
    }

    #best2 h1 { 
        display: contents;
        font-size: 10px;;
    }

    .best2 {
        width: 100%;
        height: 100%;
    }

    /* P CART */
    .addcart-content {
        flex-direction: column;
    }
}