* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

section {
    padding: 1.5em 4em;
    color: #0000D2;
    text-align: center;

}

h1 {
    font-size: 5em;
    line-height: 4.5rem;
}

h2 {
    font-size: 2.25em;
    font-weight: 600;
}

p {
    font-size: 1.2em;
    font-weight: 500;
}

i {
    color: #DBE4F5;
}


/* HOME PAGE */

header{
    height: 100vh;
}

#menu {
    position: relative;
    z-index: 2;
}

#back_img {
    /* background-image: url(../media/img/homepage.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: 0; */
    z-index: -1;
    font-weight: bolder;
}

#menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 18vh;
    padding: 2em 3em;
    display: flex;
    justify-content: space-between;
}

#menu img {
    height: 100%;
}

#menu ul {
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
}

#menu ul li {
    background-color: #0000D2;
    border-radius: 50px;
    height: 75%;
    color: white;
}

#cart {
    width: 30%;
}

#menu_b {
    width: 60%;
}

#menu ul li h3, #menu ul li i {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu ul li i {
    font-size: 1.25em;
}

#logo {
    height: 116%;
    display: flex;
    align-items: flex-end;
    padding: 3em 0 0 0;
}

#logo img {
    width: 100%;
}

/* DESCRIPTION */
#description {
    background-color: white;
    z-index: 1;
    height: 100%;
}

#description img {
    width: 100%;
}

#des {
    padding: 0 8em;
}

#title {
    padding: 3em 0 3em;
}

.circle {
    height:170px;
    width:170px;
    background:#0000D2;
    border-radius:100px;
}

.circle i {
    height: 100%;
    width: 100%;
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}.caract {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caract p {
    padding-top: 1em;
}

#caract_all {
    display: flex;
    justify-content: space-between;
    padding: 3em 8em 0;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    padding: 5em 0;
    font-weight: 400;
}

.button span {
    height: 3.5em;
    display: flex;
    align-items: center;
    background-color: #DBE4F5;
    padding: 2em;
    border-radius: 50px;
}

/* best sellers */
#best {
    width: 100%;
}

#best h1 {
    padding-bottom: 0.5em;
}

#best img {
    filter: grayscale(100);
    aspect-ratio: 1/1;
    object-fit: cover;
}

.best_s {
    width: 30%;   
}

#best_s {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mark {
    position: absolute;
    padding: 0.25em;
    width: 27%;
    display: flex;
    justify-content: flex-end;
}

.mark > div {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.circle2 {
    height: 55px;;
    width: 55px;
    background:#0000D2;
    border-radius: 30px;
}

.circle2 i {
    height: 100%;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.best_img img {
    width: 100%;
    position: relative;
    z-index: -1;
    padding-bottom: 0.5em;
}

.best_info {
    display: flex;
    justify-content: space-between;
}

/* ABOUT US */
#about {
    height: 100vh;
    background-color: #0000D2;
    color: #DBE4F5;
}

#about h1 {
    padding-bottom: 1em;
}

#about > div {
    text-align: left;
    width: 50%;
}

span:hover, .circle2:hover, #cart:hover, #menu_b:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

body {
    background-color: #ffffff;
}

section {
    height: auto;
    width: 100%;
    padding: 3em 1.5em;
}

h1, h2, h3 {
    font-family: "gabriella", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-size: 5em;
}

a {
    text-decoration: none;
}


/* FAQ */
#FAQ {
    display: flex;
    color: #0000D2;
    height: 100%;
    justify-content: center;
}


#conjunto {
    width: 70%;
    display: flex;
    border-radius: 0.25rem;
    
}

.preguntas {
    width: 100%;
    padding: 2em 2em 0;
}

.info {
    width: 100%;
}

.pregunta {
    display: flex;
    justify-content: space-between;
}

.ques {
    padding: 1em 0;
    font-weight: 900;
    padding-right: 0.5em;
}

.respuesta {
    height: auto;
    padding: 0em 1em 1em;
    display: none; 
}

.pregunta i {
    display: flex;
    align-items: center;
}


.fa-solid:hover {
    cursor: pointer;
    opacity: 50%;
}

hr {
    border-color: #0000D2;
    height: 0.15em;
    background-color: #0000D2;
  }